<template>
    <div>
        <iframe height="100%" width="100%" src="https://cdn.filestackcontent.com/5qOCEpKzQldoRsVatUPS"></iframe>
    </div>
</template>
    
<script>
export default {
    name: 'PDFJSViewer',
    
}
</script>
<style scoped>
div {
    width: 50%;
    height: 79vh;
    padding: 5% 25%;
}
</style>