<template>
   <div id="app">
    <PDFJSViewer/>
   </div>
</template>

<script>
import PDFJSViewer from './components/PDFJSViewer'

export default {
  name: 'app',
  components: {
    PDFJSViewer
  }
}
</script>

<style>
</style>
